body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f7f3f1;
}

h2 {
  margin-bottom: 20px;
}

.contenedor {
  position: relative;
  width: 90vw;        /* 90% del ancho del celular */
  max-width: 420px;  /* límite en computador */
  margin: auto;
}


.premio {
  width: 100%;
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

#mensaje {
  display: none;
  margin-top: 15px;
  font-size: 16px;
  color: #333;
}

